{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{>content-header}}

<main class="content">

    <article class="{{post_class}}">
    {{! Everything inside the #post tags pulls data from the post }}
    {{#post}}

        <header class="post-header">
            <h1 class="post-title typl8-gamma">{{title}}</h1>
            <section class="post-meta">
                By {{#primary_author}}<a href="{{url}}">{{name}}</a>{{/primary_author}}
                <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}"> {{date format="MMM Do YYYY"}}</time>
                <span class="post-tags">{{tags prefix="Tags: "}}</span>
            </section>
        </header>

        <section class="post-content">
            {{content}}
        </section>

        <footer class="post-footer">

        {{! Everything inside the #author tags pulls data from the author }}
        {{#primary_author}}

            {{#if profile_image}}
            <figure class="author-image">
                <a class="img" href="{{url}}" style="background-image: url({{profile_image}})"><span class="hidden">{{name}}'s Picture</span></a>
            </figure>
            {{/if}}

            <section class="author">
                <h4><a href="{{url}}">{{name}}</a></h4>

                {{#if bio}}
                    <p>{{bio}}</p>
                {{else}}
                    <p>Read <a href="{{url}}">more posts</a> by this author.</p>
                {{/if}}
                <div class="author-meta">
                    {{#if location}}<span class="author-location icon-location">{{location}}</span>{{/if}}
                    {{#if website}}<span class="author-link icon-link"><a href="{{website}}">{{website}}</a></span>{{/if}}
                    {{#if twitter}}&nbsp;<a href="{{twitter_url}}">{{twitter}}</a>&nbsp;{{/if}}
                    {{#if facebook}}&nbsp;&nbsp;<a href="{{facebook_url}}"><i class="icon-facebook"></i></a>{{/if}}
                </div>
            </section>

        {{/primary_author}}

            <section class="share">
                <h4>Share this post</h4>
                <a class="icon-twitter" href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}"
                    onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                    <span class="hidden">Twitter</span>
                </a>
                <a class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
                    onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                    <span class="hidden">Facebook</span>
                </a>
            </section>

        </footer>
    {{/post}}
    <!--
    If you want Disqus comments, uncomment this. Make sure to set your disqus shortname in partials/comments.hbs first!
     -->
    {{>comments}}
    </article>
</main>
